@require 'nib'

global-reset()

body
  margin 0
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif

li
  display inline-block

  a
    display block
    padding 0.5em 1em

    color #000
    text-decoration none

    &.active
      text-decoration underline

.line
  fill none
  stroke #000

.axis
  shape-rendering crispEdges

  path
  line
    fill none
    stroke #000

.pane
  cursor move
  fill none
  pointer-events all

.chart-group
  display block

  .chart
    display inline-block
